ody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightpink;
}

.regNumbers {
    display: flex;
}

.regPlate {
    padding: 10px;
    border: solid 1px black;
    margin: 1px;
}

.error {
    padding: 5px;
    background-color: white;
    color: red;
}

.success {
    padding: 5px;
    background-color: white;
    color: green;
}
